{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block head_title %}Ekozmp{% endblock %}

{% block content %}



<div class="container">
      <h1>{{ shop.name }}</h1>

      <div class="row">
        <div class="col-md-4">
          <p>{{ object.base.brand }}: {{ object.base.name }}</p>
        </div>
        <div class="col-md-4">
          <p><a href="{% url 'shopproduct_detail' shop_slug=shop.slug product_slug=object.slug %}">{{ object.name }}</a></p>
        </div>
        <div class="col-md-4">
          <p>{{ object.display_price }} €</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{ object.get_options }}
        </div>
      </div>
    </div>

{% endblock content %}