{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block head_title %}Ekozmp{% endblock %}
{% block content %}
<div class="container">
      <h1>{{ shop.name }}</h1>

      <div class="row">
        <div class="col-md-4">
          <p>{{ product.base.brand }}: {{ product.base.name }}</p>
        </div>
        <div class="col-md-4">
          <p><a href="{% url 'shopproduct_detail' shop_slug=shop.slug product_slug=product.slug %}">{{ product.name }}</a></p>
        </div>
        <div class="col-md-4">
          <p>{{ product.display_price }} €</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Product Options:
        </div>
      </div>
      {% for k, v in product.options.items %}
      <div class="row">
        <div class="col-md-1">{{ k }}</div>
        {% for o in v %}
        <div class="col-md-1">{{ o }}</div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>

{% endblock content %}