{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block head_title %}Ekozmp{% endblock %}

{% block content %}



<div class="container">
      <h1>Product List</h1>

      {% for product in object_list %}
      <div class="row">
        <div class="col-md-4">
          <p>{{ product.title }}</p>
        </div>
        <div class="col-md-4">
          <p>{{ product.description }}</p>
        </div>
        <div class="col-md-4">
          <p>{{ product.price }} €</p>
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock content %}